@import "lib";

h1 {
  .tildeslash(36px);
  .up {
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
  }
  .down {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
  }
  .tiltl {
    display: inline-block;
    vertical-align: top;
    .rotate(-15deg);
  }
  .tiltr {
    display: inline-block;
    vertical-align: top;
    .rotate(15deg);
  }
}
h2 {
  .tildeslash(30px);
}
