@import "lib";

h1 {
  .tildeslash(36px);
  .up {
    display: inline-block;
    vertical-align: top;
    margin-top: -5px;
    .transition(margin-top);
  }
  .down {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    .transition(margin-top);
  }
  .tiltl {
    display: inline-block;
    vertical-align: top;
    .rotate(-15deg);
    .transition(transform);
  }
  .tiltr {
    display: inline-block;
    vertical-align: top;
    .rotate(15deg);
    .transition(transform);
  }
}
a:hover > h1 {
  .up {
    margin-top: 0;
  }
  .down {
    margin-top: 0;
  }
  .tiltl {
    .rotate(0deg);
  }
  .tiltr {
    .rotate(0deg);
  }
  i {
    font-style: normal;
  }
}
h2 {
  .tildeslash(30px);
}
