@backgroundColor: #000;
@textColor: #c5c8c6;
@backgroundHighlightColor: #1d1f21;
@textHighlightColor: #fff;
@borderColor: #373b41;
@fontFamily: "Courier New", Courier, Monaco, monospace, sans-serif, "Microsoft JhengHei","Apple LiGothic Medium";
@footerHeight: 60px;

.rotate(@degree) {

  transform: rotate(@degree);
  /* Safari */
  -webkit-transform: rotate(@degree);

  /* Firefox */
  -moz-transform: rotate(@degree);

  /* IE */
  -ms-transform: rotate(@degree);

  /* Opera */
  -o-transform: rotate(@degree);

}

.transition(@property: all, @duration:0.2s, @ease:ease-out) {
  transition: @property @duration @ease;
  -webkit-transition: @property @duration @ease;
  -moz-transition: @property @duration @ease;
  -o-transition: @property @duration @ease;
}