<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}tildeslash{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    {% block site_css %}
      {% compress css %}
      <link type="text/less" href="{{ static('css/base.less') }}" rel="stylesheet">
      <link type="text/css" href="{{ static('css/pygments/tomorrow-night.css') }}" rel="stylesheet">
      {% endcompress %}
    {% endblock %}
  </head>
  <body>
    <header id="header">
        <a id="logo" href="{{ url('blog.home') }}"><span class="tilde">~</span><span class="slash">/</span></a>
    </header>
    {% block content %}{% endblock %}
    <footer id="footer">
      <small class="wrongs">
      <span>All content copyleft <span class="copyleft">©</span> 2014 by <strong><a href="{{ url('blog.home') }}">tildeslash</a></strong>.</span> <span>All wrongs reserved.</span>
      </small>
      <small class="hosted">Proudly hosted with <a href="https://github.com/yshlin/tildeslash">tildeslash</a>.</small>
    </footer>
    {% block site_js %}
      {% compress js %}
      <script src="{{ static('js/libs/jquery-1.10.2.min.js') }}"></script>
      <script src="{{ static('js/libs/jquery.cookie.js') }}"></script>
      <script src="{{ static('js/base.js') }}"></script>
      {% endcompress %}
    {% endblock %}
  </body>
</html>
