{% extends "base.html" %}

{% block content %}
  <div id="main-content">
    <a href="{{ url('blog.home') }}"><h1><span class="tiltl">t</span><span class="up">i</span><span class="tiltr">l</span><span class="down">d</span><span class="tiltl">e</span><i>slash</i></h1></a>
    {% for post in posts %}
      <div class="post">
        <a href="{{ url('blog.post', post.slug) }}"><h2>{{ post.title }}</h2></a>
        <span class="time">Posted {{ post.publish_date_relative }}</span> |
        <span class="tags">
          {% for tag in post.tags.names() %}
            <a href="{{ url('tagged.posts', tag) }}">{{ tag }}</a>{{ '' if loop.index == loop.length else ',' }}
          {% endfor %}
        </span>

        <p>{{ post.text_content }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block site_css %}
  {% compress css %}
    {{ super() }}
    <link type="text/less" href="{{ static('css/home.less') }}" rel="stylesheet">
  {% endcompress %}
{% endblock %}
{% block site_js %}
  {{ super() }}
{% endblock %}
