{% extends "base.html" %}

{% from "blog/macros.html" import post_summary, paging_navigator with context %}

{% block content %}
  <div id="main-content">
    <h1>
      <a href="{{ url('blog.home') }}">
      {% if CODELOG_TITLE %}
        {{ CODELOG_TITLE }}
      {% else %}<span class="tiltl">t</span><span class="up">i</span><span class="tiltr">l</span><span class="down">d</span><span class="tiltl">e</span><span class="slash">slash</span>
      codelog{% endif %}<span class="console-cursor"> </span></a>
    </h1>

    {% for post in posts %}
      {{ post_summary(post) }}
    {% endfor %}

    {{ paging_navigator(pager, url('paged.posts')) }}
  </div>
{% endblock %}
{% block site_css %}
  {% compress css %}
    {{ super() }}
    <link type="text/less" href="{{ static('css/home.less') }}" rel="stylesheet">
  {% endcompress %}
{% endblock %}
{% block site_js %}
  {{ super() }}
{% endblock %}
