{% extends "base.html" %}

{% block page_title %}~/{{ post.title }}{% endblock %}

{% block content %}
    <div id="main-content">
        <span>Posted {{ post.publish_date_relative }}</span>
        <h1>{{ post.title }}</h1>

        <p>{{ post.html_content|safe }}</p>
    </div>
{% endblock %}
{% block site_css %}
  {% compress css %}
  {{ super() }}
  <link type="text/less" href="{{ static('css/post.less') }}" rel="stylesheet">
  {% endcompress %}
{% endblock %}
{% block site_js %}
    {{ super() }}
{% endblock %}
