{% extends "base.html" %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block content %}
    <div id="main-content">
        <h1>{{ post.title }}</h1>
        <span class="time">Posted {{ post.publish_date_relative }}</span> |
        <span class="tags">
          {% for tag in post.tags.names() %}
            <a href="{{ url('tagged.posts', tag) }}">{{ tag }}</a>{{ '' if loop.index == loop.length else ',' }}
          {% endfor %}
        </span>

        <p>{{ post.html_content|safe }}</p>
    </div>
{% endblock %}
{% block site_css %}
  {% compress css %}
  {{ super() }}
  <link type="text/less" href="{{ static('css/post.less') }}" rel="stylesheet">
  {% endcompress %}
{% endblock %}
{% block site_js %}
    {{ super() }}
{% endblock %}
