{% extends "base.html" %}

{% from "blog/macros.html" import post_summary, paging_navigator with context %}

{% block page_title %}Posts tagged with {{ tag }}{% endblock %}

{% block content %}
  <div id="main-content">
    <h1>Posts tagged with <span class="tag">{{ tag }}</span></h1>
    {% for post in posts %}
      {{ post_summary(post) }}
    {% endfor %}

    {{ paging_navigator(pager, url('tagged.posts', slug=tag)) }}
  </div>
{% endblock %}
{% block site_css %}
  {% compress css %}
    {{ super() }}
    <link type="text/less" href="{{ static('css/home.less') }}" rel="stylesheet">
  {% endcompress %}
{% endblock %}
{% block site_js %}
  {{ super() }}
{% endblock %}
