{% extends "base.html" %}

{% block page_title %}Posts tagged with {{ tag }}{% endblock %}

{% block content %}
  <div id="main-content">
    <h1>Posts tagged with "{{ tag }}"</h1>
    {% for post in posts %}
      <div class="post">
        <h2><a href="{{ url('blog.post', post.slug) }}">{{ post.title }}</a></h2>
        <span class="time">Posted {{ post.publish_date_relative }}</span> |
        <span class="tags">
          {% for tag in post.tags.names() %}
            <a href="{{ url('tagged.posts', tag) }}">{{ tag }}</a>{{ '' if loop.index == loop.length else ',' }}
          {% endfor %}
        </span>

        <p>{{ post.text_content }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
{% block site_css %}
  {% compress css %}
    {{ super() }}
    <link type="text/less" href="{{ static('css/home.less') }}" rel="stylesheet">
  {% endcompress %}
{% endblock %}
{% block site_js %}
  {{ super() }}
{% endblock %}
